// SCSS Variable's

$font-primary: 'Inter', sans-serif;

$color-primary:#7367f0;

$color-text:#d0d2d6;
$color-text--light:#6e6b7b;

$color-bg:#161d31;
$color-bg--light:#f8f8f8;

$color-layer:#283046;

$color-bg-active:#1f273c;
$color-bg-active--light:#d9d9d9;

$color-border:#3b4253;
$color-border--light:#ebe9f1;

$color-black:#000000;
$color-white:#ffffff;